@model CarsInfoApp.Models.Make

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this manufacturer?</h3>
<div>
    <h4>Make</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstablishmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstablishmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCarsMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCarsMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIncome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
